In [1]:
import numpy as np
import pandas as pd

In [21]:
# Any of the following can be converted to series

my_list = ['a','bar',20, 10, sum, len]
my_arr = np.array([10,20,30])
my_dict = {'a':10,'b':20,'c':30}

In [22]:
my_series = pd.Series(data = my_list, index = range(6))

In [56]:
# Accessing data: my_series[2] OR my_series['index_key']

series1 = pd.Series(my_list)
series2 = pd.Series(['ba', '_hello', 1.0, 20], index = [0, 1, 2, 'ind'])

series1 + series2 # common index items adds up, rest present with NaN value

0            aba
1      bar_hello
2             21
3            NaN
4            NaN
5            NaN
ind          NaN
dtype: object

In [57]:
dates_series = pd.date_range('20191215', periods=6)
dates_obj = pd.Timestamp('20130102002025')
categorical_series = pd.Categorical(["test", "train", "test", "train", "test", "test"])
df1 = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [58]:
df2 = pd.DataFrame({'A': 1, 'B': dates_series, 'C': my_list, 'D': 'Foo', 'E': dates_obj, 'F': categorical_series})

df2

   A          B                        C    D                   E      F
0  1 2019-12-15                        a  Foo 2013-01-02 00:20:25   test
1  1 2019-12-16                      bar  Foo 2013-01-02 00:20:25  train
2  1 2019-12-17                       20  Foo 2013-01-02 00:20:25   test
3  1 2019-12-18                       10  Foo 2013-01-02 00:20:25  train
4  1 2019-12-19  <built-in function sum>  Foo 2013-01-02 00:20:25   test
5  1 2019-12-20  <built-in function len>  Foo 2013-01-02 00:20:25   test

In [61]:
# All available attributes of dataframe

In [ ]:
# NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column, if you convert df2
# to numpy array, it will be array of object datatypes
df.to_numpy()

In [ ]:
df.index
df.columns
df.dtypes
df.T # transpose
df.head()
df.tail(3)
df.describe()
df.sort_index(axis=1, ascending=False) # sorting by columns
df.sort_values(by='B') # sort according to Column B

In [73]:
df3 = df.copy()
df3['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

df3[df3['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2019-12-17 -0.272899  0.354472  1.525303  1.442412   two
2019-12-19 -1.329955  0.898790  0.017607 -0.661852  four

In [ ]:
df['A']
df[['A', 'C']]
df['20191216': '20191219'] # return split by rows and then columns
df.loc['20191216': '20191219', ['A', 'B']] # dataframe.loc[row(s), [col1, col2, ....]]
df.iloc[row1:row2, col1:col2]
df.iloc[[1, 2, 4], [0, 3]]

In [ ]:
df[df > 0]
df[df.B <= 0]
df[df > 0] = -df # converting all positive values of df to negative values